@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --noactive-button: #f5f4fa;
  --accent-white-color: #ffffff;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  /*щоб сховати*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container.flex {
  display: flex;
}
/*.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*.list {
  padding: 0; 
  margin: 0; 
  list-style: none; 
}
.list a {

  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
.header__logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header__logo--blue {
  color: var(--accent-color);
}

.footer-contacts .footer-logo {
  display: block;
  margin-bottom: 17px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-white-color);
  text-decoration: none;
}

.footer-logo--blue {
  color: var(--accent-color);
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
}

.header__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 93px 0;
  padding: 0;
  list-style: none;
}

.header-nav__item {
  position: relative;
  margin-right: 50px;
  padding: 32px 0;
}
.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav a {
  text-decoration: none;
  width: 100%;
}

.header-nav__list a {
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__list a:hover, .header-nav__list a:focus {
  color: var(--accent-color);
}

.header-nav__list .header-nav--current {
  color: var(--accent-color);
  background-color: var(--accent-white-color);
}

.header-nav--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
  bottom: -1px;
  left: 0;
}

.header-auth__list {
  padding: 0;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header-auth__list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--title-text-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-auth__list a:hover, .header-auth__list a:focus {
  color: var(--accent-color);
}

.header-auth__item + .header-auth__item {
  margin-left: 50px;
}

a .header-auth__icon {
  fill: var(--title-text-color);
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover .header-auth__icon,
a:focus .header-auth__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: rgb(47, 48, 58);
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contacts__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  text-decoration: none;
}

.footer-contacts {
  display: inline-block;
}

.footer__address {
  font-style: normal;
  color: var(--accent-white-color);
}

.footer-contacts__list {
  display: inline-block;
  padding-top: 10px;
}

.footer-contacts__list li {
  margin-bottom: 9px;
  line-height: 24px;
}
.footer-contacts__list li li:last-child {
  margin-bottom: 0;
}

.footer-contacts__list a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__list a:hover, .footer-contacts__list a:focus {
  color: var(--accent-color);
}

/*icons in footer*/
.footer-social {
  display: inline-block;
  margin-left: 70px;
  padding-top: 0;
}

.footer-social h2 {
  color: var(--accent-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 12px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__list li {
  margin-bottom: 9px;
  line-height: 24px;
}
.footer-social__list li li:last-child {
  margin-bottom: 0;
}

.footer-social a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social a:hover, .footer-social a:focus {
  color: var(--accent-color);
}

.footer-social__icons {
  margin-right: 10px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__icons:last-child {
  margin-right: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__icons:hover, .footer-social__icons:focus {
  fill: var(--accent-white-color);
  border-radius: 50%;
  background-color: var(--accent-color);
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link svg {
  fill: var(--accent-white-color);
}

/*форма підписки */
.footer-form {
  margin-top: 12px;
  margin-left: 93px;
}

.footer-form__text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-white-color);
}

.footer-form input {
  padding: 15px 0 15px 16px;
  width: 358px;
  height: 50px;
  background-color: rgb(47, 48, 58);
  color: var(--accent-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form input input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form input input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form input input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form input input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form input input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: 12px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--accent-white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form button:hover, .footer-form button:focus {
  background-color: rgb(24, 140, 232);
  cursor: pointer;
}

.footer-form__send {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-form button img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: var(--accent-white-color);
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__container {
  display: block;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  /*кнопочка відриття модального вікна*/
  background-color: var(--accent-color);
  color: var(--accent-white-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: rgb(24, 140, 232);
  cursor: pointer;
}

.features__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.features__item:nth-child(4n) {
  margin-right: 0;
}
.features__item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.features__item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--noactive-button);
  border-radius: 4px;
  background-size: scale-down;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.features__item::before:last-child {
  margin-right: 0;
}

.features__item--antena::before {
  background-image: url("../images/antenna 1.svg");
}

.features__item--clock::before {
  background-image: url("../images/clock 1.svg");
}

.features__item--diagram::before {
  background-image: url("../images/diagram 1.svg");
}

.features__item--astronaut::before {
  background-image: url("../images/astronaut 1.svg");
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
  font-size: 14px;
  color: var(--title-text-color);
}

.we-do__section {
  padding-bottom: 94px;
}

.we-do__container {
  width: 1200px;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.we-do__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.we-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.we-do__item {
  width: 370px;
  margin-right: 30px;
}
.we-do__item:nth-child(3n) {
  margin-right: 0;
}
.we-do__item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.we-do__link {
  text-decoration: none;
}

.we-do__section img {
  width: 370px;
}

.we-do__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /*вирівняла текст на ::before*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /*вирівняла текст на ::before*/
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; /*вирівняла текст на ::before*/
}
.we-do__box::before {
  /*темно-сіра заслонка*/
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 71px;
  background: rgba(47, 48, 58, 0.8);
}

.we-do__box h3 {
  position: absolute;
  padding: 27px 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-white-color);
}

.team__section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.team__container h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-section__item {
  background-color: var(--accent-white-color);
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-section__item:nth-child(4n) {
  margin-right: 0;
}
.team-section__item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.team-section__title {
  padding: 30px 0;
  text-align: center;
}
.team-section__title h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: 0.42px;
  color: var(--primary-text-color);
}
.team-section__title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.42px;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 16px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.team-list__icons {
  margin-right: 10px;
}
.team-list__icons:last-child {
  margin-right: 0;
}

.team-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list__link:hover, .team-list__link:focus {
  background-color: var(--accent-color);
}

a .team-list--social {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list__link:hover .team-list--social,
.team-list__link:focus .team-list--social {
  fill: var(--accent-white-color);
}

.customers__section {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.customers__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.customers__item {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
}
.customers__item:last-child {
  margin-right: 0;
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid var(--accent-color);
}

.customer__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover .customer__icon, .customers__link:focus .customer__icon {
  fill: var(--accent-color);
}

.portfolio__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__project {
  display: block;
}

.portfolio__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*приклади робіт*/
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio__link {
  display: block;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay img {
  display: block;
  max-width: 100%;
}

.portfolio__overlay--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--accent-white-color);
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__overlay--text::before,
.portfolio__link:focus .portfolio__overlay--text::before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.portfolio__link:hover .portfolio__overlay--text,
.portfolio__link:focus .portfolio-__overlay--text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio__text h2 {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
.portfolio__text p {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0px;
  margin-bottom: 0px;
}

.portfolio__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
}
.portfolio__button li:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  list-style: none;
  cursor: pointer;
  background-color: var(--noactive-button);
  color: var(--primary-text-color);
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button button:hover,
.portfolio__button button:focus {
  background-color: var(--accent-color);
  color: var(--accent-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__button li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.backdrop {
  /*задаємо стилі для заслони*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.backdrop.is-hidden {
  opacity: 0; /*робить заслону прозорою, клікі не проходять*/
  pointer-events: none; /*пропускає клікі*/
}

.modal {
  /*робимо модальне вікно*/
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--accent-white-color);
}

.modal--close {
  /*кнопочка закриття модального вікна*/
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 8px 8px 0;
  background-color: var(--accent-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal--close svg {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-8%, 15%);
          transform: translate(-8%, 15%);
  width: 18px;
  height: 18px;
  margin: 0;
}

.modal--close:hover svg,
.modal--close:focus svg {
  fill: var(--accent-color);
}

/*форма у модальному вікні*/
.modal-form {
  padding: 40px;
}

.modal-form__title {
  margin: 0 0 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form__group {
  position: relative;
  margin-bottom: 10px;
  border-radius: 4px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
}

.modal-form__label span,
.modal-form__textarea span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.modal-form__group:focus-within > span {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 12px;
  fill: rgb(33, 33, 33);
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.modal-form__input {
  position: relative;
}

.modal-form__input input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.modal-form__input input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form:focus-within > textarea {
  border-color: var(--accent-color);
}

.modal-form--agreement {
  position: relative;
  display: inline-block;
  padding-left: 36px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /*клік на весь текст Погодження*/
}
.modal-form--agreement span {
  padding-top: 5px;
  font-weight: 400;
  line-height: 1.71;
  color: #757575;
}

.modal-form--agreement input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.modal-form__checkbox:checked + .modal-form__border {
  /*.checkbox-icon*/
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  fill: var(--accent-white-color);
}

.modal-form__checkbox:checked + .modal-form__border .modal-form__icon--agreement {
  opacity: 1;
}

.modal-form__checkbox:focus + .modal-form__icon--agreement {
  border-color: var(--accent-color);
}

.modal-form__checkbox:focus + .modal-form__border {
  border-color: var(--accent-color);
}

.modal-form__border {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 0;
  left: 12px;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
}

.modal-form__icon--agreement {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transform: translate(20%, 25%);
          transform: translate(20%, 25%);
}

.modal-form__checkbox--agreement a {
  color: var(--accent-color);
  -webkit-transition: -webkit-text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__checkbox--agreement a:hover {
  text-decoration: none;
}

.modal-form button {
  width: 200px;
  height: 50px;
  padding: 0;
  margin-top: 30px;
  margin-left: 120px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form button:hover {
  background-color: rgb(24, 140, 232);
  cursor: pointer;
}

.modal-form__submit {
  margin-top: 30px;
}

.modal-form__button {
  color: var(--accent-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}/*# sourceMappingURL=main.css.map */