/*icons in footer*/
.footer-social {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: inline-block;

    margin-left: 165px;
    padding-top: 5px;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    text-align: left;
  }
}
.footer-social h2 {
  color: var(--accent-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-social__list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  list-style: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding-top: 10px;
  }
}
.footer-social__list li {
  //margin-bottom: 9px;
  line-height: 24px;

  & li:last-child {
    margin-bottom: 0;
  }
}
.footer-social a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-social__icons {
  margin-right: 10px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:last-child {
    margin-right: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    fill: var(--accent-white-color);
    border-radius: 50%;
    background-color: var(--accent-color);
  }
}
.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link svg {
  fill: var(--accent-white-color);
}
